.devfund-view {
    margin    : auto;
    margin-top: 16px;
    text-align: center;

    @media @phone {
        margin: 8px;
    }

    >h1 {
        font-size  : @headline1;
        font-weight: 700;
    }

    >.text-container {
        display         : flex;
        align-items     : center;
        justify-content : center;
        background-color: @shadow-light;
        font-size       : @paragraph;
        font-weight     : 400;
        height          : 100px;
        margin-top      : 16px;
        margin-bottom   : 16px;
    }

    >section {
        margin    : auto;
        margin-top: 16px;
        text-align: center;
        max-width : 1240px;

        >h2 {
            margin-top : 32px;
            font-size  : @headline4;
            font-weight: 700;
        }

        >.balance {
            margin-top   : 16px;
            margin-bottom: 16px;
            font-size    : @headline5;
        }

        >input {
            @media @phone {
                width: 100%;
            }

            width        : 392px;
            height       : 44px;
            background   : #F0F0F0;
            margin-top   : 16px;
            border-radius: 8px;
            padding      : 8px;
        }

        >.info {
            @media @phone {
                width: 100%;
            }

            width          : 392px;
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: space-between;
            margin         : auto;
            margin-top     : 8px;
            margin-bottom  : 8px;
            text-align     : center;

            >.balance {
                font-size: @paragraph;
            }

            >a {
                background-color: transparent;
                font-weight     : 400;
                color           : @link;
                font-size       : @caption;

                >a:hover {
                    font-weight: 600;
                }
            }
        }

        >button {
            @media @phone {
                width: 100%;
            }

            width           : 392px;
            height          : 44px;
            border          : 1px solid @brand-primary;
            box-sizing      : border-box;
            border-radius   : 4px;
            background-color: white;
            color           : @brand-primary;
            font-size       : @headline5;
            font-weight     : 700;
            padding         : 0px 24px 0px 24px;
            margin-top      : 8px;
        }

        >button:hover {
            color           : white;
            background-color: rgba(242, 120, 12, 0.8);
        }

        >button:active {
            color           : white;
            background-color: @brand-primary;
        }
    }
}