.home-view {
    text-align : center;
    line-height: 1.4rem;

    >.ribbon {
        display         : flex;
        justify-content : center;
        background-color: @error-light;
        font-size       : @paragraph;
        color           : white;
        padding         : 12px
    }

    >.mix {
        margin-top: 32px;
    }

    >h1 {
        margin-top : 16px;
        font-size  : @headline1;
        font-weight: 700;

        @media @phone {
            font-size   : @headline1;
            margin-left : 8px;
            margin-right: 8px;
            line-height : 4rem;
        }
    }

    >h2 {
        margin-top : 64px;
        font-size  : @headline2;
        font-weight: 700;

        @media @phone {
            font-size: @headline3;
        }
    }

    >.paragraph {
        font-size    : @paragraph;
        margin-bottom: 16px;

        @media @phone {
            margin-left : 8px;
            margin-right: 8px;
        }
    }

    >.button-container {
        padding-top   : 32px;
        padding-bottom: 32px;

        @media @phone {
            display       : flex;
            flex-direction: column;
        }

        >.buy-mix-btn {
            height          : 44px;
            border          : 1px solid @brand-primary;
            box-sizing      : border-box;
            border-radius   : 4px;
            background-color: white;
            color           : @brand-primary;
            font-size       : @headline5;
            font-weight     : 700;
            padding         : 0px 24px 0px 24px;
            margin-right    : 64px;

            @media @phone {
                margin: 0px 8px 16px 8px;
            }
        }

        >.buy-mix-btn:hover {
            color           : white;
            background-color: rgba(242, 120, 12, 0.8);
        }

        >.buy-mix-btn:active {
            color           : white;
            background-color: @brand-primary;
        }

        >.white-paper-btn {
            height          : 44px;
            border          : 1px solid black;
            box-sizing      : border-box;
            border-radius   : 4px;
            background-color: white;
            color           : black;
            font-size       : @headline5;
            font-weight     : 700;
            padding         : 0px 24px 0px 24px;
            margin-right    : 64px;

            @media @phone {
                margin: 0px 8px 0px 8px;
            }
        }

        >.white-paper-btn:hover {
            color           : white;
            background-color: rgba(0, 0, 0, 0.8);
        }

        >.white-paper-btn:active {
            color           : white;
            background-color: black;
        }
    }

    >.add-mix {
        font-size      : @headline6;
        font-weight    : 700;
        color          : @link;
        text-decoration: none;
    }

    >.add-mix:hover {
        text-decoration: underline;
    }

    >.overview-container {
        background-color: @shadow-light;
        margin-top      : 32px;
        margin-bottom   : 32px;

        >section {
            max-width : 1248px;
            min-height: 100px;
            display   : flex;
            text-align: center;
            margin    : auto;

            @media @phone {
                display       : flex;
                flex-direction: column;
                min-height    : 140px;
            }

            >.price-container {
                display        : flex;
                justify-content: center;
                text-align     : center;
                align-items    : center;
                margin         : auto;

                >.paragraph {
                    font-size   : @paragraph;
                    margin-right: 16px;
                }

                >h4 {
                    font-size  : @headline4;
                    font-weight: 700;
                }
            }
        }
    }

    >.pool-container {
        display        : flex;
        justify-content: space-around;
        align-items    : center;
        flex-wrap      : wrap;
        margin-top     : 16px;
        margin-bottom  : 32px;

        @media @phone {
            display       : flex;
            flex-direction: column;
        }

        >.pool-card-left {
            flex            : 1 1 40%;
            width           : 100%;
            min-height      : 216px;
            margin          : 16px 32px 16px 0px;
            background-color: @shadow-light;
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            text-align      : center;
            align-items     : center;

            @media @phone {
                margin : 16px 0px;
                padding: 16px;
            }

            >h3 {
                font-size  : @headline3;
                font-weight: 700;
                padding-top: 16px;
            }

            >.paragraph {
                max-width     : 392px;
                font-size     : @paragraph;
                padding-top   : 16px;
                padding-bottom: 16px;
            }
        }

        >.pool-card-right {
            flex            : 1 1 40%;
            width           : 100%;
            min-height      : 216px;
            margin          : 16px 0px 16px 32px;
            background-color: @shadow-light;
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            text-align      : center;
            align-items     : center;

            @media @phone {
                margin : 16px 0px;
                padding: 16px;
            }

            >h3 {
                font-size  : @headline3;
                font-weight: 700;
                padding-top: 16px;
            }

            >.paragraph {
                max-width     : 392px;
                font-size     : @paragraph;
                padding-top   : 16px;
                padding-bottom: 16px;
            }
        }
    }
}