@import "base.less";
@import "font.less";
@import "palette.less";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    background : @background;
    color      : @text;
    display    : flex;
    margin     : auto;
}

// components
@import "component/menu/pc-menu.less";
@import "component/menu/mobile-menu.less";
@import "component/menu/user-menu.less";

// views
@import "view/home.less";
@import "view/layout.less";