@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);
/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif !important;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  background: #FFFFFF;
  color: #000;
  display: flex;
  margin: auto;
}
.pc-menu > ul {
  display: flex;
}
.pc-menu > ul > li {
  position: relative;
  color: #fff;
}
.pc-menu > ul > li > a {
  font-size: 16px;
  padding: 16px;
}
.pc-menu > ul > li > a:hover {
  color: #F2780C;
}
.pc-menu > ul > li > a:active {
  color: #F2780C;
}
.pc-menu > ul > li > ul {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
  display: none;
  padding: 10px 0;
}
.pc-menu > ul > li > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
}
.pc-menu > ul > li > ul > li > a:hover {
  color: #F2780C;
}
.pc-menu > ul > li > ul > li > a:active {
  color: #F2780C;
  font-weight: 600;
}
.pc-menu > ul > li:hover > ul {
  display: block;
}
.mobile-menu {
  position: fixed;
  width: 170px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #FFFFFF;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 12px 5px;
  font-size: 18px;
}
.mobile-menu > ul > li > a:hover {
  color: #F2780C;
}
.mobile-menu > ul > li > a:active {
  color: #F2780C;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.mobile-menu > ul > li > ul > li > a:hover {
  color: #F2780C;
}
.mobile-menu > ul > li > ul > li > a:active {
  color: #F2780C;
}
.mobile-menu > ul > li > ul > li.parent {
  display: none;
}
.mobile-menu > .user-menu {
  margin: auto;
  margin-top: 16px;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address {
  display: block;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address:hover {
  color: #F2780C;
}
.user-menu > .wallet-address {
  position: relative;
  cursor: pointer;
}
.user-menu > .wallet-address > ul {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100px;
  display: none;
  padding: 10px 0;
}
.user-menu > .wallet-address > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.user-menu > .wallet-address > ul > li > a:hover {
  color: #F2780C;
}
.user-menu > .wallet-address > ul > li > a:active {
  color: #F2780C;
}
.user-menu > .wallet-address:hover > ul {
  display: block;
}
.user-menu > ul {
  margin-top: 10px;
  margin-left: 10px;
}
.user-menu > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.user-menu > ul > li > a:hover {
  color: #F2780C;
}
.user-menu > ul > li > a:active {
  color: #F2780C;
}
.proposal {
  width: 100%;
  background-color: #F9F9F9;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  height: 44px;
  margin-top: 8px;
}
.proposal > .serial {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}
.proposal > h5 {
  font-size: 1.25rem;
  font-weight: 700;
}
.proposal > .status {
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 32px 8px 32px;
  height: 32px;
  border-radius: 8px;
  border: solid 0.5px;
}
.proposal:hover {
  background-color: #F8FAFB;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.dialogue.alert {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #F0F0F0;
}
.dialogue.alert > h2 {
  font-size: 24px;
  padding: 16px;
}
.dialogue.alert > p {
  padding: 16px;
  border-top: 1px solid #CED3D6;
  color: #999;
  line-height: 1.2em;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.alert > .button-container > button {
  background-color: transparent;
  color: #F2780C;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: #ffffff;
}
.dialogue.confirm {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #F0F0F0;
}
.dialogue.confirm > h2 {
  font-size: 24px;
  padding: 16px;
}
.dialogue.confirm > p {
  padding: 16px;
  border-top: 1px solid #CED3D6;
  color: #999;
  line-height: 1.2em;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.confirm > .button-container > button {
  background-color: transparent;
  color: #F2780C;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: #ffffff;
}
.dialogue.prompt {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #F0F0F0;
}
.dialogue.prompt > h2 {
  font-size: 24px;
  padding: 16px;
}
.dialogue.prompt > p {
  padding: 16px;
  border-top: 1px solid #CED3D6;
  color: #999;
  line-height: 1.2em;
}
.dialogue.prompt > .input-container {
  padding: 0 16px;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  padding: 8px;
  height: 40px;
}
.dialogue.prompt > .input-container > input:hover {
  border: 1px solid #F2780C;
}
.dialogue.prompt > .input-container > input:focus {
  border: 1px solid #F2780C;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.prompt > .button-container > button {
  background-color: transparent;
  color: #F2780C;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: #ffffff;
}
.layout {
  width: 100%;
  padding-top: 44px;
}
.layout > header {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}
.layout > header > a {
  margin-right: 16px;
}
.layout > header > a > .logo {
  display: flex;
}
.layout > header > a > .logo > span {
  margin-left: 4px;
  margin-top: 12px;
  color: #e17d1c;
}
@media only screen and (max-width: 719px) {
  .layout > header > .pc-menu {
    display: none;
  }
}
.layout > header > .right {
  flex-grow: 1;
}
.layout > header > .right:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.layout > header > .right > .user-menu {
  float: right;
}
@media only screen and (max-width: 719px) {
  .layout > header > .right > .user-menu {
    display: none;
  }
}
.layout > header > .right > .mix-button {
  float: right;
  margin-top: 2px;
  margin-right: 16px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .right > .mix-button {
    margin-top: 6px;
    margin-right: 10px;
  }
}
.layout > header > .right > .menu-button {
  float: right;
  display: none;
  padding: 10px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .right > .menu-button {
    display: block;
  }
}
.layout > main {
  padding: 50px 0;
}
.layout > footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #F9F9F9;
  font-size: 12px;
  height: 100px;
}
.buy-view {
  max-width: 1240px;
  margin: auto;
  margin-top: 32px;
  text-align: center;
}
.buy-view > h1 {
  font-size: 2.8125rem;
  font-weight: 700;
}
.buy-view > .klayswap {
  margin-top: 24px;
}
.buy-view > .klayswap > h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 12px;
}
.buy-view > .paragraph {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 24px;
}
.buy-view > a {
  font-size: 1rem;
  font-weight: 700;
  color: #3190FD;
  text-decoration: none;
}
.buy-view > a:hover {
  text-decoration: underline;
}
.booth-view {
  margin: auto;
  margin-top: 16px;
  text-align: center;
}
.booth-view > h1 {
  font-size: 2.8125rem;
  font-weight: 700;
}
.booth-view > h2 {
  font-size: 2.25rem;
  font-weight: 700;
}
.booth-view > h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 8px;
}
.booth-view > h6 {
  font-size: 1rem;
  font-weight: 700;
}
.booth-view > .paragraph {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 8px;
}
.booth-view > .mixset {
  margin: 8px;
}
.booth-view > .none-bold-h6 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
}
.booth-view > .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.booth-view > .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booth-view > .form > input {
  width: 392px;
  height: 44px;
  background: #F0F0F0;
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px;
}
.booth-view > .form > button {
  width: 392px;
  height: 44px;
  border: 1px solid #F2780C;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #F2780C;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0px 24px 0px 24px;
  margin-top: 8px;
}
.booth-view > .form > button:hover {
  color: white;
  background-color: #F2780C;
}
.booth-view > .form > .container {
  width: 392px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 0.75rem;
}
.booth-view > .form > .container > .caption {
  display: flex;
  align-items: center;
  justify-content: center;
}
.booth-view > .form > .container > .caption > img {
  margin-right: 4px;
}
.booth-view > .form > .container > .max-btn {
  background-color: transparent;
  font-weight: 400;
  color: #3190FD;
}
.booth-view > .form > .container > .max-btn:hover {
  font-weight: 600;
}
.governance-view {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-view > h1 {
  font-size: 2.8125rem;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}
.governance-view > .paragraph {
  font-size: 0.875rem;
  font-weight: 400;
}
.governance-view > .top-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 8px;
}
.governance-view > .top-nav > h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.governance-view > .top-nav > button {
  height: 44px;
  border: 1px solid #F2780C;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #F2780C;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0px 24px 0px 24px;
}
.governance-view > .top-nav > button:hover {
  color: white;
  background-color: #F2780C;
}
.governance-propose-view > h1 {
  font-size: 2.8125rem;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
}
.governance-propose-view > .form > label,
.governance-propose-view > .form > .term > label {
  display: block;
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-propose-view > .form > label > span,
.governance-propose-view > .form > .term > label > span {
  display: block;
  font-size: 24px;
  font-weight: 700;
}
.governance-propose-view > .form > label > p,
.governance-propose-view > .form > .term > label > p {
  font-size: 14px;
  padding: 8px 0;
  line-height: 1.2em;
}
.governance-propose-view > .form > label > a,
.governance-propose-view > .form > .term > label > a {
  color: #3190FD;
  font-size: 14px;
}
.governance-propose-view > .form > label > input,
.governance-propose-view > .form > .term > label > input,
.governance-propose-view > .form > label > textarea,
.governance-propose-view > .form > .term > label > textarea {
  margin-top: 13px;
  display: block;
  width: 100%;
}
.governance-propose-view > .form > label > input,
.governance-propose-view > .form > .term > label > input {
  height: 32px;
  border-bottom: 1px solid #A9AFB3;
}
.governance-propose-view > .form > label > textarea,
.governance-propose-view > .form > .term > label > textarea {
  border: 1px solid #A9AFB3;
  padding: 12px;
  height: 230px;
}
.governance-propose-view > .form > .term {
  background-color: #F9F9F9;
  padding: 30px 0;
  margin-bottom: 32px;
}
.governance-propose-view > .form > .term > label {
  display: flex;
  margin-bottom: 0;
}
.governance-propose-view > .form > .term > label > input {
  width: auto;
  height: auto;
  margin-right: 8px;
}
.governance-propose-view > .form > .options {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-propose-view > .form > .options > h5 {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.governance-propose-view > .form > .options > ul > li {
  display: flex;
  padding: 5px 0;
}
.governance-propose-view > .form > .options > ul > li > span {
  flex-grow: 1;
}
.governance-propose-view > .form > .options > ul > li > .delete-button {
  color: red;
}
.governance-propose-view > .form > .options > button {
  height: 32px;
  border: 1px solid #F2780C;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #F2780C;
  padding: 0 16px;
  margin-top: 16px;
}
.governance-propose-view > .form > .options > button:hover {
  color: white;
  background-color: #F2780C;
}
.governance-propose-view > .form > .proposer {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-propose-view > .form > .proposer > h5 {
  display: block;
  font-size: 24px;
  font-weight: 700;
}
.governance-propose-view > .form > .proposer > span {
  display: block;
  margin-top: 13px;
  font-size: 14px;
}
.governance-propose-view > .form > .controller {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-propose-view > .form > .controller > button {
  width: 100%;
  height: 44px;
  border: 1px solid #F2780C;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #F2780C;
  font-size: 1.25rem;
  font-weight: 700;
}
.governance-propose-view > .form > .controller > button:hover {
  color: white;
  background-color: #F2780C;
}
.governance-proposal-view {
  margin: auto;
  margin-top: 32px;
}
.governance-proposal-view > h1 {
  font-size: 2.8125rem;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}
.governance-proposal-view > .content {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-proposal-view > .content > h6 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}
.governance-proposal-view > .content > .paragraph {
  font-size: 0.875rem;
  font-weight: 400;
}
.governance-proposal-view > .options-wrapper {
  background-color: #F9F9F9;
  padding: 30px 0;
  margin-bottom: 32px;
}
.governance-proposal-view > .options-wrapper > .options {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-proposal-view > .options-wrapper > .options > .list {
  margin-bottom: 16px;
}
.governance-proposal-view > .options-wrapper > .options > .list > header {
  font-weight: bold;
}
.governance-proposal-view > .options-wrapper > .options > .list > header,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li {
  display: flex;
}
.governance-proposal-view > .options-wrapper > .options > .list > header > .title,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li > .title,
.governance-proposal-view > .options-wrapper > .options > .list > header > .voters,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li > .voters,
.governance-proposal-view > .options-wrapper > .options > .list > header > .percent,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li > .percent,
.governance-proposal-view > .options-wrapper > .options > .list > header > .controller,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li > .controller {
  padding: 5px;
  text-align: center;
  width: 80px;
}
.governance-proposal-view > .options-wrapper > .options > .list > header > .title,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li > .title {
  width: auto;
  flex-grow: 1;
  text-align: left;
}
.governance-proposal-view > .options-wrapper > .options > .list > header > .controller > button,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li > .controller > button {
  width: 100%;
  height: 24px;
  border: 1px solid #F2780C;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #F2780C;
}
.governance-proposal-view > .options-wrapper > .options > .list > header > .controller > button:hover,
.governance-proposal-view > .options-wrapper > .options > .list > ul > li > .controller > button:hover {
  color: white;
  background-color: #F2780C;
}
.governance-proposal-view > .options-wrapper > .options > button {
  margin-top: 16px;
  width: 100%;
  height: 44px;
  border: 1px solid #F2780C;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #F2780C;
  font-size: 1.25rem;
  font-weight: 700;
}
.governance-proposal-view > .options-wrapper > .options > button:hover {
  color: white;
  background-color: #F2780C;
}
.governance-proposal-view > .controller {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 32px;
}
.governance-proposal-view > .controller > button {
  width: 100%;
  height: 44px;
  border: 1px solid #F2780C;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #F2780C;
  font-size: 1.25rem;
  font-weight: 700;
}
.governance-proposal-view > .controller > button:hover {
  color: white;
  background-color: #F2780C;
}

